/* reset.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
}
input,
textarea {
  outline: none; /* прибираємо дефолтний outline при фокусі (але з обережністю!) */
}

input,
button,
textarea,
select {
  font: inherit; /* успадковують шрифт батьківського елемента */
  color: inherit;
}
