/* Navigation.module.css */
.link {
  text-decoration: none;
  color: #333;
  margin-right: 16px;
  font-weight: normal;
  transition: color 0.2s;
}

.active {
  color: tomato;
  font-weight: bold;
  text-decoration: underline;
}
