/* index.css */
@import url("./styles/reset.css");

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--color-primary);
  line-height: 1.5;
}

input:focus,
textarea:focus,
button:focus {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}
.container {
  padding: 0 32px;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 40px;
}
